<html>
<head>
<meta charset="utf-8" />
<title>Creative Writing</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
<script type="text/javascript">
var pd
function update(){
//alert("hj");
pd=1;
$.ajax({
                url:'/datadeal/',
                type:'POST',
                data:{pd:pd},
                success: function (data) {
                //alert("success!")
                }
            });
            pd=0;
}
</script>
</head>
<body>
<button onclick="update()" >btn</button>
</body>
</html>