<html>
<head>
<meta charset="utf-8" />
<title>Creative Writing</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
<script type="text/javascript">
var fulltext
var xietong=''
var titlestr

function checkLeave()
{
usernm={{username}}
//xietong={{username}}+xietong;
$.ajax({
                url:'/xietong/',
                type:'POST',
                data:{element:usernm,element2:xietong},
                success: function (data) {
                //alert("success!")
                }
            });

}

function cop(){
var str=document.getElementById("input1").value;


var  text =$('#input1').val()

$.ajax({
                url:'/ajax/',
                type:'POST',
                data:{text:text},
                success: function (data) {

                    //document.getElementById("input2").value = data;
                    var book=data.split(",");
                    document.getElementById("p1").style.display = "block";


                    for (var i=1; i<6; i++)
                    {
                    var x;
                    x="t"+i;
                    document.getElementById(x).innerHTML = book[i-1];
                    document.getElementById(x).style.display = "inline-block";
                    //document.getElementById(x).setAttribute('href',"../static/"+book[i-1]+".txt");
                   }

                }
            });

}

function fake_click(obj) {
    var ev = document.createEvent("MouseEvents");
    ev.initMouseEvent(
        "click", true, false, window, 0, 0, 0, 0, 0
        , false, false, false, false, 0, null
        );
    obj.dispatchEvent(ev);
}

function export_raw(name, data) {
    var urlObject = window.URL || window.webkitURL || window;

    var export_blob = new Blob([data]);

    var save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a")
    save_link.href = urlObject.createObjectURL(export_blob);
    save_link.download = name;
    fake_click(save_link);
}

function saveText()
{

var  text =$('#input1').val()
var title=document.getElementById("title").value
export_raw(title+'.txt', text);

$.ajax({
                url:'/save/',
                type:'POST',
                data:{text:text,username:{{username}}},
                success: function (data) {
                //alert("success!")
                }
            });
}



function open1(e){
//alert(e.innerHTML)
titlestr=e.innerHTML;
$(function(){
    var htmlobj = $.ajax({
        url:"../static/"+titlestr+".txt",
        async:false
    });
    fulltext=htmlobj.responseText
    document.getElementById("input2").value = fulltext.substr(0,800);
});
}

function fullText()
{
document.getElementById("input2").value = fulltext
xietong=xietong+','+titlestr
//alert(xietong)
//document.getElementById("p2").style.display = "block";
}

function fullTextR()
{
document.getElementById("input2").value = fulltext
xietong=xietong+","+titlestr
//alert(xietong)
document.getElementById("p2").style.display = "block";
$.ajax({
                url:'/ajax/',
                type:'POST',
                data:{text:titlestr},
                success: function (data) {

                    //document.getElementById("input2").value = data;
                    var book=data.split(",");
                    document.getElementById("p2").style.display = "block";


                    for (var i=1; i<6; i++)
                    {
                    var x;
                    x="r"+i;
                    document.getElementById(x).innerHTML = book[i-1];
                    document.getElementById(x).style.display = "inline-block";
                    //document.getElementById(x).setAttribute('href',"../static/"+book[i-1]+".txt");
                   }

                }
            });

}

function open2(){
//alert('mmp')
var str=document.getElementById("t2").innerHTML;
$(function(){
    var htmlobj = $.ajax({
        url:"../static/"+str+".txt",
        async:false
    });
    document.getElementById("input2").value = htmlobj.responseText;
});
}




</script>
</head>
<!--"onpropertychange"用于ie核心的浏览器，"oninput"用于firefox-->

<style type="text/css">
body {background-image: url(../static/images/i4.jpg);
      background-size:cover;}
h1{
    font-weight:normal;
    font-size:18px;
    color:black;/*文本颜色*/
    text-align:right;/*对齐方式*/
    background-color:;/*背景颜色*/
}

.text1
{
font-size:20px;
resize:none;
background-color:#FFFFFF;
width:550px;
height:22px;
margin-top:0px;
overflow:hidden;
}

.text2
{
font-size:20px;
resize:none;
background-color:#FFFFFF;
width:550px;
height:300px;
margin-top:0px;

}

.text3
{
font-size:20px;
width:550px;
height:300px;
resize:none;
margin-top: 0px;
margin-left:70px;
}

.bt1
{
font-size:10px;
width:60px;
height:25px;
margin-top: 0px;
margin-left:50px;
}

.bt2
{
font-size:10px;
width:60px;
height:25px;
margin-top: 0px;
margin-left:560px;
}

.he
{
text-decoration:none;
display:none;
width:620px;
overflow: hidden;
text-overflow:ellipsis;
white-space:nowrap;
color:#0000FF;
margin-left:60px;
float:left;
}

.he2
{
text-decoration:none;
display:none;
width:100px;
overflow: hidden;
text-overflow:ellipsis;
white-space:nowrap;
color:#0000FF;
margin-left:0px;
float:left;
}


</style>
<body onbeforeunload="checkLeave()">
<form method = 'post'>

    <h1>Welcome {{username}}！</h1>
</form>

<p><span style="display:inline-block;width:50px;text-align:right;float:left;">Title&nbsp;&nbsp;&nbsp;</span> <textarea id="title"    class="text1" ></textarea> <span style="display:inline-block;width:430px;float:right;font-size:25px;">Recommendation</span></p>
<p><span style="display:inline-block;width:50px;text-align:right;float:left;">Text&nbsp;&nbsp;&nbsp;</span> <textarea id="input1"   class="text2" type="text" onpropertychange="cop()" oninput="cop()"></textarea> <textarea id="input2"   size="15" class="text3" rows="3" readonly="readonly" ></textarea> </p>
<button onclick="saveText()" class="bt1">save as</button>
<button onclick="fullText()" class="bt2">full text</button>
<br>
    <span id="p1" style="margin-left:60px;display:none;width:500px;float:left;">Your article style is similar to the following:</span>
<span id="p2" style="margin-left:120px;display:none;width:500px;float:left;">People who read this article also read:</span>
</br>
<p>
    <a id="t1" href=" javascript:void(0)" class="he" onclick="open1(this)"></a>
    <a id="r1" href=" javascript:void(0)" class="he2" onclick="open1(this)">test</a>
    <a id="t2" href=" javascript:void(0)" class="he" onclick="open1(this)"></a>
    <a id="r2" href=" javascript:void(0)" class="he2" onclick="open1(this)">test</a>
    <a id="t3" href=" javascript:void(0)" class="he" onclick="open1(this)"></a>
    <a id="r3" href=" javascript:void(0)" class="he2" onclick="open1(this)">test</a>
    <a id="t4" href=" javascript:void(0)" class="he" onclick="open1(this)"></a>
    <a id="r4" href=" javascript:void(0)" class="he2" onclick="open1(this)">test</a>
    <a id="t5" href=" javascript:void(0)" class="he" onclick="open1(this)"></a>
    <a id="r5" href=" javascript:void(0)" class="he2" onclick="open1(this)">test</a>
</p>


<h1></h1>



</body>
</html>